asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
autopep8==1.4.3
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
colorama==0.4.1
coverage==4.5.2
cryptography==2.4.2
defusedxml==0.5.0
flake8==3.6.0
idna==2.7
jira==2.0.0
mccabe==0.6.1
more-itertools==4.3.0
oauthlib==2.1.0
pbr==5.1.1
pluggy==0.8.0
py==1.7.0
pycodestyle==2.4.0
pycparser==2.19
pyflakes==2.0.0
PyJWT==1.6.4
pytest==4.0.1
pytest-cov==2.6.0
requests==2.20.1
requests-oauthlib==1.0.0
requests-toolbelt==0.8.0
six==1.11.0
urllib3==1.24.1
